.venv
venv
.git
.github
.idea
.run
.devcontainer
htmlcov
.mypy_cache
.ruff_cache
.pytest_cache
__pycache__
*.db
app/infrastructure/databases/*.db
.coverage
coverage.xml
.DS_Store
docs
node_modules
openspec
*.md
