[importlinter]
root_package  =  app
include_external_packages  =  True

[importlinter:contract:infrastructure]
name = infrastructure does not import modules
type = forbidden
source_modules =
    app.infrastructure
forbidden_modules =
    app.modules
    app.query
    app.shared_kernel

[importlinter:contract:modules]
name = modules
type = forbidden
source_modules =
    app.modules
forbidden_modules =
    app.query
    app.shared_kernel
