aiosqlite
fastapi
databases
pydantic
sqlalchemy
tabulate
typer
uvicorn

# development
black
httpx
isort
flake8
mypy
pytest
pytest-asyncio
pytest-cov
pytest-icdiff
pytest-watch
requests
sqlalchemy-stubs
