aiosqlite==0.19.0
dependency-injector==4.41.0
email-validator==2.0.0.post2
fastapi==0.101.0
pydantic-settings==2.0.2
pydantic==2.1.1
pyjwt==2.8.0
sqlalchemy[asyncio]==2.0.19
typer==0.9.0
uvicorn==0.23.2

# Development
Faker==19.2.0
adr-tools-python==1.0.3
autoflake==2.2.0
black==23.7.0
flake8-bandit==4.1.1
flake8-bugbear==23.7.10
flake8-builtins==2.1.0
flake8-comprehensions==3.14.0
flake8-datetimez==20.10.0
flake8-debugger==4.1.2
flake8-pytest-style==1.7.2
flake8-use-pathlib==0.3.0
flake8==6.1.0
freezegun==1.2.2
httpx==0.24.1
isort==5.12.0
libyear==0.2.1
mypy==1.4.1
pytest-asyncio==0.21.1
pytest-cov==4.1.0
pytest-icdiff==0.6
pytest-watch==4.2.0
pytest==7.4.0
requests==2.31.0
tryceratops==2.3.2
types-tabulate==0.9.0.3
yesqa==1.5.0
